.cards {
  display: flex;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
}

.card {
  display: flex;
  color: inherit;
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #2b2a2a30;
  background-color: #fff;
  position: relative;
  width: 150px;
  height: 150px;
  justify-content: space-between;
  box-shadow: unset;
  flex-direction: column;
  gap: 8px;
}

.card_header {
  position: relative;
  width: 100%;
}

.card_header-background {
  background-color: #f6f6f5;
  height: 50px;
  border: unset;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  left: 16px;
}

.card-title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 8px;
}

.card-timestamp {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 30px;
  margin-right: 8px;
  font-size: 1.2rem;
  line-height: 16px;
  color: var(--light-gray);
}

.card-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 16px;
  z-index: 1;
}

.card-hover:hover {
  box-shadow: #00000009 0px 0px 0px 1px inset;
}
